// Colors
$color-primary: #09264a;
$color-white: #fff;
$color-grey: #707070;
$color-grey-light: #a8a8a8;
$color-black: #000;
$color-bg: #f9f9f9;
// Override bootstrap colors
$primary: $color-primary !default;
