<div class="container-fluid-no-padding">
  <div class="row ">
    <div class="col-md-6 col-12 d-flex flex-column justify-content-center p-5  h--100vh">
      <h1 class=" heading-1 mb-5 text-center">
        Log in
      </h1>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <div class="row mb-1 justify-content-center">
          <div class="col-xxl-8 col-md-10 col-sm-8 col-12">
            <div>
              <label for="phone">Phone number:</label>
              <input type="tel" id="phone" class="form-control" name="phone" formControlName="phone">
              <span *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched  "
                class=" text-danger p-0 m-0 fw-bold ">
                {{ !form.get('phone')?.value ?
                'Phone is Required' : 'Phone is invalid' }}
              </span>
              <span *ngIf=" form.get('phone')?.valid || form.get('phone')?.untouched "
                class=" text-danger p-0 m-0 fw-bold ">
                &nbsp;
              </span>
            </div>
            <div>
              <label for="password">Password:</label>
              <input type="password" id="password" class="form-control" name="password" formControlName="password">
              <span *ngIf="form.get('password')?.invalid && form.get('password')?.touched  "
                class=" text-danger p-0 m-0 fw-bold ">
                {{ !form.get('password')?.value ?
                'Password is Required' : 'Password Must Be At Least 6 Characters' }}
              </span>
              <span *ngIf=" form.get('password')?.valid || form.get('password')?.untouched "
                class=" text-danger p-0 m-0 fw-bold ">
                &nbsp;
              </span>
            </div>
            <div class="row justify-content-end">

              <a class=" mt-2 w-auto" routerLink="../forget-password">
                Forget password?
              </a>

            </div>
            <app-error [message]="errorMessage"></app-error>
            <div class="d-flex justify-content-center mt-4">
              <button class="btn btn-primary px-6 py-2 contact-us__btn" type="submit" [disabled]="!form.valid">
                Log in
              </button>
            </div>


          </div>
        </div>


      </form>

      <div class="text-center fs--small mt-5">
        Do you have account? <a routerLink="/auth/sign-up">sign up</a>
      </div>
    </div>
    <div class="col-md-6 col-12  bg-img text-white text-center flex-column justify-content-center d-none d-md-flex ">
      <h1 class="heading-1">
        Welcome Back
      </h1>
      <p class="fs-4 m-0"> Log in now and see the </p>
      <p class="fs-4 m-0"> newest products. </p>
    </div>
  </div>
</div>